@media (min-width: 768px){
    .fs-main{
        padding-top:60px;
        padding-bottom: 80px;
    }
    .fs-brand-name{
        display: none;
    }
}
@media (max-width: 767px) {
    .fs-mainnav{
        i{
            display: none;
        }
    }
}
@media (max-width: 639px) {
    .fs-main{
        padding:20px 0;
    }
    .ilist-item{
        margin-bottom: 3px;
        time{display: none;}
    }
}