<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{{ page.title }} | {{ site.author }}</title>
    <meta name="author" content="{{ site.author }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta property="qc:admins" content="16712432437655" />
    {% if page.description %}
    <meta name="description" content="{{page.description}}" />
    {% else %}
    <meta name="description" content="{{site.description}}" />
    {% endif %} 
    {% if page.categories %}
    <meta name="keywords" content="{{page.categories | join: ','}}" />
    {% else %}
    <meta name="keywords" content="{{site.keywords | join: ','}}" />
    {% endif %} 
    {% if page.date %}
    <meta http-equiv="date" content="{{page.date |date: '%A, %d  %Y %H:%M:%S GMT'}}" />
    {% endif %}
    <meta name="robots" content="{{page.index}}INDEX,{{page.follow}}FOLLOW" />
    {% include metaog.md %}
    <link rel="shortcut icon" href="/favicon.ico" />
    <link href="/feed/" rel="alternate" title="{{ site.author }}" type="application/atom+xml" />

    {% if page.cssurl %}
    <link rel="stylesheet" href="{{ page.cssurl }}" />
    {% endif %}
    {% if page.style %}
    <style type="text/css">{{ page.style}}</style>
    {% endif %}

</head>
<body{% if page.pageID %} id="{{page.pageID}}" {% endif %} {% if page.pageClassName %} class="{{page.pageClassName}}" {% endif %}>

{{ content }}

</body>
</html>
